:root {
    --bg-col: #fff;
}



*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
    background-color: var(--bg-col);
    line-height: 1.3em;
}
img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 10px;
}
h1{
    text-align: center;
}
h2 {
    margin: 15px;
}
p{
    margin-top: 15px;
}
a{
    text-decoration: none;
    font-size: larger;
}



.bg-white {
    background-color: #f4f4f4;
    opacity: 0.9;
    border-radius: 10%;
    border: 1px solid #555;
    margin-right: 10px;
}
/* container */
.container{
    display: grid;
    grid-template-rows: 250px 1fr minmax(50px, 50px);
    grid-template-columns: minmax(100px, 200px) 1fr minmax(100px, 200px);
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    min-height: 100vh;                     
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
    margin: 0 10%;
}
.left{
    grid-area: left;
    margin: 10px;
}
.right{
    grid-area: right;
    margin: 10px;
}
.footer{
    grid-area: footer;
    background-color: #555;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container */

.content-grid{
    display: grid;
    grid-template-columns: minmax(400px,3fr) minmax(200px,1fr);
    padding-bottom: 50px;
}

.content{
    grid-column: 1;
    
    padding: 20px;

}
.content h2{
    font-size: 42px;
    text-align: center;
    margin: 20px 0;
}
.content h3{
    margin-top: 30px;
}
.content p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content img{
    display: flex;
    align-self: center;
    margin-top: 20px;
    max-width: 250px;
    max-height: 250px;
    transition: 0.5s;
}
.content div, img{
    float:right;
}
.sidebar{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid #555;
    padding: 5px;
    box-shadow: 5px 5px 3px grey;
    transition: 1s;
    background: var(--bg-col);
    border-radius: 5px;
    
}

.sidebar img{
    margin: 50px 0;
    width: 100%;
    height: auto;
}
.sidebar p{
    margin: 50px 0;
}

.header-grid{
    display: grid;
    grid-template: 150px 100px / 150px 1fr 150px;
    grid-template-areas: "header1 header2 header3"
                         "header4 header5 header6";
}
.header-img{
    grid-area: 1/1/2/4;
    background-image: url("https://bookpoints.org/sites/default/files/Background-Sherbet-Blank.png");
    height: 140px;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}
.header h1{
    grid-area: 1/1/2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    text-transform: uppercase;
}

.logo{
    grid-area: header5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}
.logo img{
    display: flex;
    align-self: flex-start;
}
.nav{
    grid-area: header5;
    display: flex;
    justify-content: flex-end;

}
.nav ul{
    list-style: none; 
    display: flex;  
}
.nav li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active a{
    color: violet;
}
.nav a{ 
    text-decoration: none;
    text-transform: uppercase;
}
.nav-item{
    color: #fff;
    font-size: 1rem; 
    margin: 0 15px 0 0;
    background-color: #555;
    width: 90px;
    height: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow:
            1px 1px #555,
            2px 2px #555,
            3px 3px #555; 
    transition: 0.5s;     
}
.nav-item:hover{
    color: coral;
    background-color: #fff;
    border: 1px solid coral;
    transform: scale(1.15);
    -webkit-text-stroke-width: 1px;
    font-size: 1em;
    box-shadow:
            1px 1px #fff,
            2px 2px coral,
            3px 3px coral;
}

.shop{
    grid-column: 1;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shop-item{
    display: grid;
    grid-template-rows: 150px 30px 30px 9   0px;
    height: 300px;
    width: 150px;
    margin: 10px;
}
.shop-item p{
    font-size: 15px;
    margin: 0;
}
.shop-item h4{
    display: flex;
    justify-content: center;
    color: red;
}
.shop-item h3{
    display: flex;
    justify-content: center;
}
.shop-item-img img{
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    min-width: 130px;
    margin: 0px;
}
.shop-header{
    display: flex;
    justify-content: center;
    color: #f4f4f4;
    font-family: 'Yatra One', cursive;
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #555;
}
.contacts p, h2{
    text-align: center;
}
@media all and (max-width: 900px) {
    .container{
        min-height: 100%;
    min-height: 140vh;
    }
    .logo{
        grid-area: header4;
        transform: scale(0.8);
        margin-left: 40px;
    }
    .footer{
        position: flex;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .nav ul{
        transition: 2s;
        transform: scale(0.8);
    }
    .main{
        margin:0;
    }
  
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .sidebar{
        margin-top: 20px;
    }
    .footer{
        
    }
}
@media all and (max-width: 600px) {
    .logo{
        grid-area: header4;
        transform: scale(0.8);
        margin-left: 40px;
    }
    .content{
        border-radius: 25px;
    }
    .nav{
        grid-area: 2/2/3/4;
        display: flex;
        justify-content: flex-end;
    }
    .nav ul{
        display: table-column; 
    }
    .nav li{
        margin-bottom: 15px;
    }
    h1, h2{
        line-height: 1.3;
    }
    .sidebar{
        margin-top: 100px;
    }
    .content-grid{
        display: grid;
        grid-template-columns: minmax(250px,3fr) minmax(125px,1fr);
    }
    .content p{
        font-size: 18px;
    }
}