*{
    margin: 0;
    padding: 0;
}

html{
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    text-align: center;
}

h1{
    margin: 20px 30px 20px 30px;
}

a {
    color: #1194c4;
    text-decoration: none;
}

img {
    border: 0;
}





/* main grid site container 5 boxes */
.header{
    grid-area: header;
}
.footer{
    grid-area: footer;
    background-color: #555;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-grid{
    grid-area: main;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}
/* main grid site container 5 boxes */
/* grid container */
.container{
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-columns: 250px 1fr 250px;  
    grid-template-rows: 100px 1fr 100px;
    min-height: 100vh;
}
/* grid container */





/* ------------------------------------ flex main up------------------>
/* main text blox flex */
.main{
    width: 100%;
    max-width: 960px;
    min-width: 460px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.content{
    background: #fff;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    background: #fff;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 40px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* main text blox flex */

/* flex main title */
.box-title{
    background: #fff;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 0 40px -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-base{
    margin-left: 50px;
    flex: 1 1 430px;
    line-height: 1.3em;
}
.box-base h1{
    text-align: center;
}
.box-side{
    margin-left: 50px;
}

.box-side-img img{
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-width: 300px;
    float: right;
    margin-bottom: 20px;
}
/* flex main title */

/* banners as flex */
.banners{
    flex: 0 1 250px;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}
.banner{
    width: 100%;
    font-size: 3rem;
    color: #fff;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .banner img{
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        max-width: 250px;
        max-height: 500px;
    }
/* banners as flex */ 

/* main flex commends */
.comments{
    background: #ffffff;
    padding: 10px;
    margin: 0 0 30px 30px;
    flex: 1 1 200px;
}
.comment{
    margin-bottom: 20px;
    display: flex;
}
.comment p{
    border: 1px solid #555;
    padding: 2px;
    background-color: #f4f4f4;
}
.comment-title{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: flex;
}
.comment-side{
    padding-right: 20px;
    flex: none;
}
.comment-avatar{
    content: url(https://cdn.onlinewebfonts.com/svg/img_181369.png);
    width: 50px;
    height: 50px;
    padding-top: 7px;
}
/* main flex commends */

/* main flex posts */
.posts{
    margin: 0 50px 30px 30px;
    flex: 1 1 200px;
}

.posts-center{
    margin: 0 50px 30px 30px;
    flex: 1 1 200px;
}

.posts-center h1{
    margin: 50px 0 10px 0;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
}
/* main flex posts */
/* ------------------------------------ flex main bottom------------------>


/* grid  shop menu SHOP SHOP SHOP*/
.shop-box{
    display: grid;
    grid-template-columns: 150px auto auto 150px auto;
    grid-template-rows: 150px auto auto 150px auto;
    grid-template-areas: "w w w w b"
                         "s s s s b"
                         "s s s s b"
                         "s s s s b"
                         "s s s s b";
    grid-gap: 10px;
}
.shop-content{
    grid-area: s;
    margin: 10px;
}
.shop-banners-right{
    grid-area: b;
    margin: 10px;
}
.shop-title{
    grid-area: w;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shop-title h1::before{
    content: 'Coolplanet SHOP';
    font-size: 50px;
    font-family: lobster, monospace;
    letter-spacing: 0.06em;
    color: #555;
    border: 5px solid #555;
}
.shop-title h1::after{
    color: coral;
}
.shop-title h1:hover{
  color: coral;
  transition: color .6s;
  border: 0px  #fff;
}


.shop-box-item-container{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 200px 40px 30px 70px;
    grid-template-areas: "i i i i"
                         "t t t t"
                         "b c c a"
                         "p p p p"
}
.shop-box-item-container h3{
    grid-area: t;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 0.5px;
}
.shop-box-item-container h4{
    grid-area: b;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: line-through;
}
.shop-box-item-container h5{
    grid-area: c ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color:red; 
}
.shop-box-item-container p{
    grid-area: p;
}


.shop-box-item{ 
    width: 200px;
    height: 330px;
  


    margin: 10px;
    display: inline-block;
 
}
.shop-box-item-img{
    grid-area: i;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-box-item-img img{
    max-width: 200px;
    max-height: 200px;
}
 /*grid shop menu */

.logo {
    grid-column: 2 / 3;
    font-size: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: url(/images/logo.gif);
    width: 130px;
    height: 50px;
}

/* main navigation bar */
.nav{
    display: grid;
    grid-template-columns: 1fr auto minmax(600, 1fr) 1fr ;
    grid-template-rows: 50px 50px;
    grid-template-areas: "n1 n2 n3 n4";
}
    .nav-item{
        background-color: #555;
        width: 90px;
        height: 25px;
        color: #fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border: 1px solid #fff;

        box-shadow:
                1px 1px #555,
                2px 2px #555,
                3px 3px #555;
    }

    .nav a{
        font-size: 1rem;  
        text-decoration: none;
        text-transform: uppercase;
    }
    .nav-hover a:hover{
        background-color: #fff;
        color: coral;
        cursor: pointer;
        transition: background-color 0.5s;
        -webkit-text-stroke-width: 2px;
        border: 1px solid coral;
        transition: .5s;
        transform: scale(1.2);

        box-shadow:
                1px 1px white,
                2px 2px coral,
                3px 3px coral;
    }
    .nav ul{
        grid-area: "n3";
        list-style: none;
        display: flex;
        justify-content: flex-end;

        
    }
    .nav li{
        margin: 10px 15px 0 0;
    }
 /* main navigation bar */

/* about page stuff */
.about-location img{
    max-width: 100%;
    max-height: 100%;
    font-size: 30px;
    margin: 20px;
    border-radius: 50px;   
}
.about-location p{
    max-width: 100%;
    max-height: 100%;
    font-size: 30px;
    margin: 20px;
    border-radius: 50px;   
}
.about-gallery img{
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 50px;
    
    border-radius: 5px;
}
.content-table{
    position: flex;
    margin: 25px 500px;
    border-collapse: collapse;
    font-size: 1em;
    min-width: 400px;
    font-family: sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th, td{
    text-align: left;
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 0.5px solid #ddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
    color: #009879;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.h2-table {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    color: #009879;
    -webkit-text-stroke: .7px #555;
}

/* about page stuff */



#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: skyblue;
  }



@media screen and (max-width: 600px) {
    .container{
    grid-template-areas: "header"
                          "left"    
                          "main"
                          "right"
                          "footer";
    grid-template-columns:100%;
    grid-template-rows: 100px 50px 1fr 50px 30px;   
    }
}
/* box-menu scaling */
@media screen and (max-width: 1500px) {   
    .box-menu{
        display: grid;
        grid-auto-rows: 390px;
        grid-template-columns:repeat(2, 1fr);
    }   
}
@media screen and (max-width: 725px) {   
    .box-menu{
        display: grid;
        grid-auto-rows: 390px;
        grid-template-columns:repeat(1, 1fr);
    }   
}
@media screen and (max-width: 600px) {   
    .box-menu{
        display: grid;
        grid-auto-rows: 390px;
        grid-template-columns:repeat(2, 1fr);
    }   
}
/* box-menu scaling */



@media screen and (max-width: 600px) {
    
    .content{
        display: block;
    }
    .banners{
        margin: 0;
        display: block;
    }
    .banners-left{
        margin: 0;
        display: none;
    }
    .banner{
        margin-left: 0;
    }
    .comments{
        margin: 0;
    }

}



